#Special directories
results/*
*.zip
logs/*

# Data
*.fits
*.pkl

# Temp files
data/synth_log.txt
data/temp.txt

# Special files
*DS_Store

# Output files
*.txt.e*
*.txt.o*
logs/*.txt
*.csv
*.dat

# Plots and saves
*.eps
*.png
*.jpg
*.avi

# Videos
*.mp4
*.avi

# Idea files
*.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Swapfiles
*~
*/*~
*.swp
*/*.swp

# C extensions
*.so

# Wrappers
*_wrap.c
*_wrap.o
*.o

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
